.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.container {
  position: absolute;
}

.center {
  display: flex;
  justify-content: center;
}

.pattern {
  display: flex;
  justify-content: center;
  width: 700px;
  /* https://projects.verou.me/css3patterns/#cicada-stripes */
  background-color: #026873;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.07) 50%,
      transparent 50%
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
}

.App-intro {
  font-size: large;
}

.Tilt {
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
}
